{% extends 'wedding_organizer/base.html' %}
{% block content %}
	<div style="background-color:#d9c1e5;padding:10px;margin:5px;border:solid grey;">
	<a href="{% url 'home_page' %}" style="background-color:blue;color:white;padding:5px;text-decoration:none;"> <--Back </a>
	<h3 style="color: deepink">{{ pemesan.nama_pemesan }}</h3>
	<b>Paket :</b>
		{% if pemesan.paket == 'vn' %} Vian Rp. 17.000.000
			{% elif pemesan.paket == 'an' %} Andrea Rp. 37.000.000
			{% else %} Oval Rp. 20.000.000
		{% endif %}<br>
	<b>Jenis Kelamin :</b>
		{% if pemesan.jk == 'l' %} Laki-laki
			{% else %} Perempuan
		{% endif %}<br>
	<b>No.Telp :</b>{{ pemesan.no_telp }}<br>
	<b>Alamat :</b>{{ pemesan.alamat }}<br>
	<b>Email :</b> {{ pemesan.email }}<br>
	<br><br>
	<a href="{% url 'alat_edit' pemesan.id %}" style="background-color:green;color:white;padding:5px;text-decoration:none;">Edit Pemesan</a> &nbsp;
	<a href="{% url 'alat_delete' pemesan.id %}" style="background-color:red;color:white;padding:5px;text-decoration:none;">Hapus Pemesan</a>
	</div>
{% endblock %}