{% extends 'wedding_organizer/base.html' %}
{% block content %}
	<div style="background-color:#d9c1e5;padding:10px;margin:5px;border:solid grey;">
	<a href="{% url 'alat_detail_view' pemesan.id %}" style="background-color:blue;color:white;padding:5px;text-decoration:none;"><b> <--Back</b></a>
	<h3>!!! Peringatan !!!</h3>
	Apakah anda yakin ingin menghapus pemesan : {{ pemesan.nama_pemesan }} ?
	<form action="" method="post">
		{% csrf_token %}
		<input type="submit" value="Ya, yakin!" style="background-color:red;color:white;padding:5px;text-decoration:none;">
	</form>
	</div>
{% endblock %}