<html>
<head>
	<style>
		@page{
			size:A4 landscape;
			margin:1cm;
		}
	</style>
</head>
<body>
	<font size="15px" color="#8a2be2">DAFTAR PEMESAN</font>
	<br><br>
	<table border="1">
		<thead>
		<tr>
			<th>Nama Pemesan</th>
			<th>Paket</th>
			<th>Nomer Telepon</th>
			<th>Alamat</th>
		</tr>
		</thead>
		<tbody>
		{% for alat in pemesan %}
			<tr>
				<td width="40%" align="center">{{ alat.nama_pemesan }}</td>
				<td width="15%" align="center"> {% if alat.paket == 'vn' %} Vian Rp.17.000.000
					{% elif alat.paket == 'an' %} Andrea Rp.37.000.000
				{% else %} Oval Rp.20.000.000
				{% endif %}</td>
				<td width="15%" align="center">{{ alat.no_telp }}</td>
				<td align="center"><br>{{ alat.alamat}}<br></td>
			</tr>
		{% endfor %}	
		</tbody>
	</table>
</body>
</html>