{% extends 'wedding_organizer/base.html' %}
{% block content %}
	<div style="background-color:#d9c1e5;padding:10px;margin:5px;border:solid grey;">
	<a href="{%  url 'alat_detail_view' pemesan.id %}" style="background-color:blue;color:white;padding:5px;text-decoration:none;"><b> <--Back </b></a>
	<h3>Edit Data Pemesan</h3>
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Update" style="background-color:green;color:white;padding:5px;text-decoration:none;">
	</form>
	</div>
{% endblock %}		
