<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>Wedding Organizer</title>
</head>
<body style="background-color:#fec4c3;">
	<div style="background-color:#c9e9e4;text-align:center;padding:10px;color:pink;outline: 5px dotted yellow;text-shadow: 2px 2px #000;margin-bottom: 10px;">
	<h1>{{ judul }}</h1>
	<h2>{{ info }}</h2>
	</div>
	{% block content %}
	{% endblock %}	
</body>
</html>